{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ default (include "referral-svc.fullname" .) .Values.serviceAccount.name }}
  labels:
    {{- include "referral-svc.labels" . | nindent 4 }}
  {{- /* build annotations map first to avoid empty block */ -}}
  {{- $ann := dict -}}
  {{- if and .Values.serviceAccount.irsa.enabled .Values.serviceAccount.irsa.roleArn -}}
  {{- $_ := set $ann "eks.amazonaws.com/role-arn" (.Values.serviceAccount.irsa.roleArn | toString) -}}
  {{- $_ := set $ann "eks.amazonaws.com/audience" (default "sts.amazonaws.com" .Values.serviceAccount.irsa.audience | toString) -}}
  {{- end -}}
  {{- with .Values.serviceAccount.annotations -}}
  {{- range $k, $v := . }}
  {{- $_ := set $ann $k ($v | toString) -}}
  {{- end -}}
  {{- end -}}
  {{- if $ann }}
  annotations:
    {{- toYaml $ann | nindent 4 }}
  {{- end }}
automountServiceAccountToken: {{ default true .Values.serviceAccount.automount }}
{{- with .Values.serviceAccount.imagePullSecrets }}
imagePullSecrets:
  {{- toYaml . | nindent 2 }}
{{- end }}
{{- end }}
